### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/uiDesigner.xml
/.idea/workspace.xml
/test.bak
/test
/hlavny
/preplnujuci
/src/StaryKod
/NEHNUTELNOSTI_hlavny
/NEHNUTELNOSTI_preplnujuci
/PARCELY_hlavny
/PARCELY_preplnujuci
/PARCELY_SPRAVCA_SUBOROV
/NEHNUTELNOSTI_DZS
/NEHNUTELNOSTI_QS
/NEHNUTELNOSTI_SPRAVCA_SUBOROV
/PARCELY_DZS
/PARCELY_QS
/DATABAZA
/.idea/artifacts/AUS2SP2_jar.xml
/src/META-INF/MANIFEST.MF
